@{
    ViewData["Title"] = "Home Page";
}



    <div class="element element-1 item">
        <a class="nav-link text-dark" asp-area="" asp-controller="BackExercises" asp-action="Index">Back</a>
    </div>

    <div class="element element-2 item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ChestExercises" asp-action="Index">Chest</a>
    </div>

    <div class="element element-3 item">
        <a class="nav-link text-dark" asp-area="" asp-controller="HandsExercises" asp-action="Index">Hands</a>
    </div>

    <div class="element element-4 item">
        <a class="nav-link text-dark" asp-area="" asp-controller="LegsExercises" asp-action="Index">Legs</a>
    </div>

    <div class="element element-5 item">
        <a class="nav-link text-dark" asp-area="" asp-controller="StomachExercises" asp-action="Index">Stomach</a>
    </div>
